<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>
		{{title}}
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta name="generator" content="Pharo - Pillar - Ecstatic" />
		<meta name="robots" content="index,follow" />
		<meta name="keywords" content="{{site_keywords}}" />

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" />

		<link rel="stylesheet" type="text/css" media="screen, projection" href="{{baseurl}}theme/screen.css" />
		<link rel="stylesheet" type="text/css" media="print" href="{{baseurl}}theme/print.css" />
		<!--[if IE]><link rel="stylesheet" type="text/css" media="screen, projection" href="/wiki/files/PRBlueprintLibrary/ie.css"/><![endif]-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{baseurl}}theme/pure.css" />
		<!--link rel="canonical" href="http://esug.org/wiki/pier/About/membership" /-->
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body class="page viewcommand defaultview">
		<div class="container">
			<div class="header">
				<div class="title">
					<div style="float:left; margin-right:15px">
						<a href="{{baseurl}}index.html">
							<img alt="{{site_name}}" src="{{site_logo}}">
						</a>
					</div>
					<div style="margin:15px">
						<h1>{{site_name}}</h1>
						<h2>{{site_short_description}}</h2>
					</div>
				</div>
				<div class="children">
					<ul>
						{{#menu}}
						<li>
							<a class="page" href="{{url}}">{{title}}</a>
						</li>
						{{/menu}}
					</ul>
				</div>
				<div class="submenue">
					<ul>
						{{# subfiles }}
						<li><a href="{{url}}">{{title}}</a></li>
						{{/ subfiles }}
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="body">
				<div class="contents">
					{{{content}}}
				</div>
			</div>
		<div class="footer container-fluid">
			<div class="madeby">
				Powered by <a class="external" href="http://www.pharo.org">pharo</a> | <a class="external" href="http://www.smalltalkhub.com/#!/~Pier/Pillar">pillar</a> | <a class="external" href="http://guillep.github.io/ecstatic/">Ecstatic</a>
			</div>
		</div>
		</div>
	</body>
	<script>
	$(document).ready(function() {
	$('dt').each(function() {
	var $dt = $(this),
	$selection = $dt.next('dd').andSelf();
	$selection.wrapAll('<div class="col-md-4">');
			});
				$('dd').find('br').remove();
				$('dt').contents().unwrap().wrap("<h3/>");
				$('dd').contents().unwrap().wrap("<p/>");
						$('dl').wrap("<div class='row multi-columns-row'/>");
								$('dl').contents().unwrap();
							});
							function transformAnnotatedParagraphs(pClass) {
							$("p." + pClass).wrap("<div class='alert alert-" + pClass + "' role='alert'/>" );
									};
									transformAnnotatedParagraphs('success');
									transformAnnotatedParagraphs('info');
									transformAnnotatedParagraphs('warning');
									transformAnnotatedParagraphs('danger');
					</script>
					<script>
					(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
					})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
					ga('create', 'UA-76868335-1', 'auto');
					ga('send', 'pageview');
					</script>
				</html>