<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<title>{{title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta name="robots" content="index,follow" />
  		<meta name="viewport" content="width=device-width initial-scale=1" />
		<meta name="keywords" content="{{site_keywords}}" />

		<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD29vYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Honk:MORF,SHLN@19,0&display=swap" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="{{baseurl}}theme/pure.css" />
	</head>

	<body>
		<div class="page">

			<div class="page-item">
				<div class="header">
					<img alt="{{site_name}}" src="{{site_logo}}">
					<span class="honk">{{site_name}}</span>
					<div class="break"></div>
					<div class="navbar">
						{{#menu}}
						<div class="button">
						<span class="honk icon">O</span>
						<a href="{{url}}">{{title}}</a>
						</div>
						{{/menu}}
					</div>
				</div>
			</div>

			<div class="page-item">
				{{{content}}}
			</div>

			<div class="page-item footer">
				{{update_string}} - Generated with <a class="external" href="https://guillep.github.io/ecstatic/">Ecstatic</a>
			</div>

		</div>
	</body>

</html>
